---
layout: default
title: Syllabus
---

<h1 class="page-header">{{ page.title }}</h1>

<h2>Software Development<br/> <small>CS 212-01 &bull; Fall 2015 &bull; 4 Credits</small></h2>

<p class="lead">{{ site.data.course.description }}</p>

<h2 class="page-header">Course Details</h2>

<h3>Lectures</h3>

<p>
  <i class="fa fa-calendar fa-fw"></i> Mondays, Wednesdays, Fridays &bull; 3:30pm to 4:35pm<br/>
  <i class="fa fa-university fa-fw"></i> <a href="https://www.usfca.edu/virtual-tour/main-campus/lo-schiavo">Lo Schiavo</a>, Room G12
</p>

<h3>Instructor</h3>

<p>
  <strong><a href="http://sjengle.cs.usfca.edu">Professor Sophie Engle</a></strong><br/>
  <i class="fa fa-envelope fa-fw"></i> <a href="mailto:sjengle@cs.usfca.edu">sjengle@cs.usfca.edu</a><br/>
  <i class="fa fa-university fa-fw"></i> <a href="https://www.usfca.edu/virtual-tour/main-campus/harney-science">Harney Science Center</a>, Room 531/532
</p>

<p>
  <strong>Office Hours:</strong><br/>
  Wednesdays &bull; 5:00pm to 6:30pm<br/>
  Thursdays &bull; 1:00pm to 2:30pm<br/>
  <em>and by appointment</em></li>
</p>

<p>
  <strong>Code Reviews:</strong><br/>
  Mondays, Wednesdays &bull; 1:00pm to 2:30pm<br/>
  Mondays, Thursdays, Fridays &bull; 5:00pm to 6:30pm
</p>

<h3>Teacher Assistant</h3>

<p>
  <strong>Ruiqiang Wang</strong><br/>
  <i class="fa fa-envelope fa-fw"></i> <a href="mailto:rwang40@usfca.edu">rwang40@usfca.edu</a><br/>
  <i class="fa fa-university fa-fw"></i> Harney Science Center, Room 530/535 (CS Labs)
</p>

<p>
  <strong>Office Hours:</strong><br/>
  Tuesdays &bull; 1:00pm to 2:30pm<br/>
  Fridays &bull; 10:00am to 11:30am
</p>

<h3>Prerequisites</h3>

<p>You must have completed CS 112 Introduction to Computer Science II with a grade of C or better.</p>

<p class="text-danger"><i class="fa fa-warning"></i> You may not take CS 112 and CS 212 concurrently.</p>

<h3>Required Materials</h3>

<p>There are no required books for this class. However, it is recommended that students have a Java reference book. Please see the instructor for recommendations.</p>

<h3>Learning Outcomes</h3>

<p>At the end of this course, students should be able to:</p>

<ul>
  <li><p>Independently design programs</p></li>
  <li><p>Produce professional-quality code</p></li>
  <li><p>Implement large programs with at least 2,000 lines of code</p></li>
  <li><p>Design and execute tests to identify software bugs</p></li>
  <li><p>Repair software bugs, redesigning and refactoring code when necessary</p></li>
  <li><p>Utilize, analyze, and critique code written by others</p></li>
</ul>

<p>Assessment of these outcomes will be done by a combination of quizzes, exams, homework, projects, and code review.</p>

<h2 class="page-header">Course Requirements</h2>

<p>This course will be a hybrid flipped classroom, with an emphasis on mastery learning. The majority of the grade will be derived from projects and exams.</p>

<h3>Time Commitment</h3>

<p>This is a {{ site.data.course.credits }} credit course. Lectures will be approximately 65 minutes long, and will consist of a mix of traditional slide-based lectures, interactive code walkthroughs, in-class lab exercises, and in-class quizzes. Students should spend approximately 10 to 20 hours per week minimum outside of class.</p>

<p class="alert alert-warning"><i class="fa fa-clock-o"></i> Think of this class like a part time job. If you do not put in the time, you will not make it to the final project. Many students do not pass due to poor time management!</p>

<h3>Pass Requirements</h3>

<p>To receive a non-failing grade for this course, students must meet the following minimum requirements:</p>

<ul>
<li>Must receive a passing letter grade on at least one exam.</li>
<li>Must pass the functionality tests for a minimum of 2 projects by the withdraw deadline.</li>
<li>Must pass the code review process for a minimum of 3 projects by the end of the semester.</li>
</ul>

<p>Failure to meet 1 or more of the above requirements will result in an F letter grade for this course.</p>

<h3>Grade Breakdown</h3>

<p>Students that meet the minimum requirements will have the final grade for this course calculated based on a mix of assignments (homework and quizzes), exams (midterm and final), and projects. The specific breakdown is as follows:</p>

<p style="margin-left: 2.25em">
10% Assignments<br/>
20% Exams<br/>
70% Projects<br/>
</p>

<h4>Assignments</h4>

<p>Assignments consist of homework exercises and quizzes. Students will often be given class time to work on these assignments, allowing them to get immediate help from the instructor and teacher assistant.</p>

<p>Quizzes will often be given unannounced at the start of class, but students will often be given an opportunity to retake those quizzes during lab time.</p>

<h4>Exams</h4>

<p>There will be two exams. The exams are not comprehensive. Instead of a final exam, you will have a final project.</p>

<p>Finals week will be reserved for interactive project grading. A signup sheet will be posted towards the end of the semester. If you have travel plans during finals week, please confirm your travel dates first with the instructor.</p>

<p class="alert alert-warning"><i class="fa fa-warning"></i> Students must receive a passing letter grade on at least one exam to pass this course.</p>

<h4>Projects</h4>

<p>Project assignments place an emphasis on code quality&mdash;it is not enough to achieve correct results. Each project will undergo a rigorous code review checking for specific criteria, such as proper encapsulation and generalization, efficiency, and maintainability. We use a mastery learning approach with projects: students may not move on to the next project until (a) the project produces correct output, and (b) the project passes the code review process.</p>

<p>As such, the project grade will depend on the <em>number</em> of projects completed by each student. The exact grade for each project depends on the submission process. Each student receives one opportunity per project to fix and resubmit the project. Additional resubmissions may result in a point deduction.</p>

<p>Additional details on each project and the project submission process will be posted on the course website.</p>

<p class="alert alert-warning"><i class="fa fa-warning"></i> Students must pass the functionality tests for at least 2 projects by the withdraw deadline, and must pass the code review process for at least 3 projects by the end of the semester to pass this class.</p>

<h3>Grading Scale</h3>

<p>The final letter grade will be assigned according to the following scale:</p>

<table style="margin-left: 2.25em;" cellspacing="0" cellpadding="0"><tbody>
  <tr><td>A+</td><td>&nbsp;&geq;&nbsp;</td><td>97%</td></tr>
  <tr><td>A </td><td>&nbsp;&geq;&nbsp;</td><td>94%</td></tr>
  <tr><td>A–</td><td>&nbsp;&geq;&nbsp;</td><td>90%</td></tr>
  <tr><td>B+</td><td>&nbsp;&geq;&nbsp;</td><td>87%</td></tr>
  <tr><td>B </td><td>&nbsp;&geq;&nbsp;</td><td>84%</td></tr>
  <tr><td>B–</td><td>&nbsp;&geq;&nbsp;</td><td>80%</td></tr>
  <tr><td>C+</td><td>&nbsp;&geq;&nbsp;</td><td>77%</td></tr>
  <tr><td>C </td><td>&nbsp;&geq;&nbsp;</td><td>74%</td></tr>
  <tr><td>C–</td><td>&nbsp;&geq;&nbsp;</td><td>70%</td></tr>
  <tr><td>D+</td><td>&nbsp;&geq;&nbsp;</td><td>67%</td></tr>
  <tr><td>D </td><td>&nbsp;&geq;&nbsp;</td><td>64%</td></tr>
  <tr><td>D–</td><td>&nbsp;&geq;&nbsp;</td><td>60%</td></tr>
  <tr><td>F </td><td>&nbsp;&lt;&nbsp; </td><td>60%</td></tr>
</tbody>
</table>

<p>For example, you will receive a C letter grade if your grade is greater than or equal to 70% and less than 77%. Please note this scale is subject to change. See the <a href="https://www.usfca.edu/catalog/regulations/student">Undergraduate Student Regulations</a> for more information about letter grades and how they are translated into GPA.</p>

{% include policies.html %}
{% include resources.html %}
